<%- include("../partials/head", { title: "Edit Quote" }) %>

<h1>Edit quote</h1>

<% if (errors.length) { %>
  <div class="errors">
    <ul>
      <% errors.forEach(e => { %><li><%= e %></li><% }) %>
    </ul>
  </div>
<% } %>

<form class="form" method="POST" action="/quotes/<%= quote.id %>?_method=PUT">
  <label>
    Quote
    <textarea name="text" rows="4" required><%= quote.text %></textarea>
  </label>

  <label>
    Author
    <input name="author" required value="<%= quote.author %>" />
  </label>

  <button class="btn" type="submit">Update</button>
</form>

</main>
</body>
</html>
